{% extends "layout.html" %}
{% load django_bootstrap5 %}

{% block content %}
<section class="section-signin t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header">로그인</div>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="로그인" %}
                {% bootstrap_button button_type="reset" content="취소" %}
            </form>
            <hr>
            <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4" type="submit">
                <svg class="bi me-1" width="16" height="16">
                    <use xlink:href="#twitter"/>
                </svg>
                Sign up with Twitter
            </button>
            <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" type="submit">
                <svg class="bi me-1" width="16" height="16">
                    <use xlink:href="#facebook"/>
                </svg>
                Sign up with Facebook
            </button>
            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4" type="submit">
                <svg class="bi me-1" width="16" height="16">
                    <use xlink:href="#github"/>
                </svg>
                Sign up with GitHub
            </button>
        </div>
    </div>
</section>

{% endblock %}