{% extends "layout.html" %}
{% load humanize %}
{%block content %}

<section class="py-5 t-text-center container">
    <div class="row py-lg-5">
        <div class="t-col-lg-6 t-col-md-8 t-mx-auto">
            <p class="t-font-bold t-text-[1.2rem] mb-2">TripTourTravel</p>
            {% if user.is_authenticated %}
            <h1 class="t-font-bold t-text-[1.2rem]">환영합니다, [ {{ user }} ] 님.</h1>
            {% endif %}
            <p class="lead text-muted">손 안에서 펼쳐지는 여행들을 경험하고 다른 사람들에게 자신만의 여행을 공유해 보세요.</p>
            {% if user.is_authenticated %}
            <p>
                <a href="{% url 'articles:create' %}" class="btn my-2 btn text-white" style="background-color: #FF8224;">
                    새 포스트 작성하기</a>
            </p>
            {% endif %}
        </div>
    </div>
</section>


{%endblock%}