{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{%block content %}
<section class="section-prod-list t-mt-3">
    <div class="container">
        {% if user.is_authenticated %}
        <h1 class="t-text-[1.2rem] t-font-bold"> 새 포스트 작성</h1>
        <form method="post" class="post-form my-3">
            {% csrf_token %}
            <div>
                {{form}}
                <button type="submit" class="btn my-2 btn text-white" style="background-color: #FF8224;">저장하기</button>
            </div>
        </form>
        {% endif %}
    </div>
</section>

{%endblock%}
