{% extends "layout.html" %}
{% load humanize %}
{% load django_bootstrap5 %}
{% block content %}
<main class="flex-shrink-0">
    <div class="container">

        <h1 class="t-text-[1.2rem] t-font-bold mb-2">{{articles.title}}</h1>
        <h1 class="t-text-[1.0rem] t-font-bold mb-2">{{articles.user}} 님의 포스트</h1>
        <a class="t-no-underline t-text-[1.0rem] t-font-bold mb-2 mt-4">{{articles.tag}}</a>
        {% if request.user == articles.user %}
        <div class="my-3">
            <a href="#"
               class="btn btn-sm btn-outline-secondary">수정</a>
            <a href="#"
               class="btn btn-sm btn-outline-secondary">삭제</a>
        </div>
        {% endif %}
        <p class="t-text-[0.9rem] mt-4">{{articles.content}}</p>
    </div>
</main>
{% endblock %}