{% extends "layout.html" %}
{% load humanize %}
{% load django_bootstrap5 %}
{% load filter %}
{% block content %}
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="t-text-[1.2rem] t-font-bold mb-2">{{articles.title}}</h1>
        <h1 class="t-text-[1.0rem] t-font-bold mb-2">{{articles.user}} 님의 포스트</h1>
        <h1 class="t-text-[1.0rem] t-font-bold mb-2 t-text-gray-400">{{articles.update_date}}</h1>
        <a class="t-no-underline t-text-[1.0rem] t-font-bold mb-2 mt-4">{{articles.tag}}</a>
        {% if request.user == articles.user %}
        <div class="my-3">
            <a href="{% url 'articles:modify' articles.id %}"
               class="btn btn-sm btn-outline-secondary">수정</a>
            <a href="#" class="delete btn btn-sm btn-outline-secondary"
               data-uri="{% url 'articles:delete' articles.id  %}">삭제</a>
        </div>
        {% endif %}
        <div class="mt-4 markdown">{{articles.content|mark}}</div>
    </div>
</main>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}