{% extends "layout.html" %}
{% load humanize %}
{% load static %}
{%block content %}


<section class="section-prod-list t-mt-3">
    <div class="container">
        {% if user.is_authenticated %}
        <h1 class="t-text-[1.2rem] t-font-bold"> 새 포스트 작성</h1>

        <form method="post" class="post-form my-3">
            {% csrf_token %}
            <div class="form-group mt-4">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="title" id="title"
                       value="{{ form.title.value|default_if_none:'' }}">
            </div>
            <div class="form-group mt-4">
                <label for="tag">태그</label>
                <input type="text" class="form-control" name="tag" id="tag"
                       value="{{ form.tag.value|default_if_none:'' }}">
            </div>
            <div class="form-group mt-4 mb-4">
                <label for="content">내용</label>
                <div>
                    <textarea class="form-control" name="content" id="content"
                          rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
                    <script>
                    var simplemde = new SimpleMDE({element: document.getElementById("content")});
                    </script>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">저장하기</button>
        </form>
        {% endif %}
    </div>
</section>

{%endblock%}
