{% extends "layout.html" %}
{% load humanize %}
{%block content %}
{% with img_box_class="t-relative t-overflow-hidden t-rounded" %}
{% with img_box_before_class="before:t-content-[''] before:t-absolute before:t-inset-0 before:t-bg-[#00000000] group-hover:before:t-bg-[#00000055] before:t-transition-all" %}
{% with img_box_after_class="after:t-content-[attr(data-before)] after:t-hidden group-hover:after:t-block after:t-no-underline after:t-text-white after:t-border-2 after:t-border-white after:t-border-solid after:t-rounded after:t-p-2 after:t-whitespace-nowrap after:t-absolute after:t-top-[50%] after:t-left-[50%] after:t-translate-y-[-50%] after:t-translate-x-[-50%] after:t-transition-all" %}
<section class="section-prod-list t-mt-3">
    <div class="container">
        <h1 class="t-text-[1.2rem] t-font-bold"> 최신 리뷰</h1>

        <ul class="t-grid t-grid-cols-1 sm:t-grid-cols-2 md:t-grid-cols-3 lg:sm:t-grid-cols-4 t-gap-[20px] p-0 t-mt-3">
            {% for product in products %}
            <li class="t-flex t-flex-col t-group">
                <a data-before="VIEW MORE" href="#"
                   class="{{img_box_class}} {{img_box_before_class}} {{img_box_after_class}}">
                    <img class="t-block t-w-full t-transition-all group-hover:t-scale-110 t-relative t--z-50 t-object-cover"
                         src="{{product.thumb_img_url}}" alt="" style="aspect-ratio: 1/1;">
                </a>
                <a class="t-text-center t-mt-2 t-no-underline t-text-black t-italic group-hover:t-underline"
                   href="{% url 'articles:detail' articles.id %}">
                    {{articles.title}}
                </a>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="#">Featured post</a>
                                </h3>
                                <div class="mb-1 text-muted">Nov 12</div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a
                                    natural lead-in to additional content.</p>
                                <a href="#">Continue reading</a>
                            </div>
                            <img class="card-img-right flex-auto d-none d-md-block"
                                 data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
                        </div>
                    </div>
            </li>
            {% endfor %}

        </ul>
        <!-- Pagination -->
        <div class="row mt-2">
            <div class="col-12">
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{products.previous_page_number }}&search_keyword={{ request.GET.search_keyword }}">이전으로</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">이전으로</a>
                        </li>
                        {% endif %}
                        <li class="page-item">
                            {% for page_number in products.paginator.page_range %}
                            {% if page_number >= products.number|add:-5 and page_number <= products.number|add:5 %}
                            {% if page_number == products.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link"
                               href="?page={{ page_number }}&search_keyword={{ request.GET.search_keyword }}">{{
                                page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_number }}&search_keyword={{ request.GET.search_keyword }}">{{
                                page_number }}</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        </li>
                        {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{products.next_page_number }}&search_keyword={{ request.GET.search_keyword }}">다음으로</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">다음으로</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endwith %}
{% endwith %}
{% endwith %}

{%endblock%}