{% extends "layout.html" %}
{% load humanize %}
{%block content %}
{% with img_box_class="t-relative t-overflow-hidden t-rounded" %}
{% with img_box_before_class="before:t-content-[''] before:t-absolute before:t-inset-0 before:t-bg-[#00000000] group-hover:before:t-bg-[#00000055] before:t-transition-all" %}
{% with img_box_after_class="after:t-content-[attr(data-before)] after:t-hidden group-hover:after:t-block after:t-no-underline after:t-text-white after:t-border-2 after:t-border-white after:t-border-solid after:t-rounded after:t-p-2 after:t-whitespace-nowrap after:t-absolute after:t-top-[50%] after:t-left-[50%] after:t-translate-y-[-50%] after:t-translate-x-[-50%] after:t-transition-all" %}
<section class="section-prod-list t-mt-3">
    <div class="container">
        <h1 class="t-text-[1.2rem] t-font-bold"> 새 포스트 작성</h1>
        <form method="post" class="post-form my-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">저장하기</button>
        </form>

    </div>
</section>
{% endwith %}
{% endwith %}
{% endwith %}
{%endblock%}